html{
    height:fit-content;
    overflow-x: hidden;
    cursor: url(/img/Pointerchiquito.png), auto;
    
}
main{
    .row{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
button{
    cursor: url(/img/cursor.png), auto;
}
.estadisticas{
        padding:50px;
        margin-bottom: 50px;
        font-size: 30px;
        font-family: 'Play', sans-serif;
        transition: .5s;
        animation-name: estadisticas;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        &:hover{
            transform: rotate3d(1, -5, 1, -40deg);
            cursor: url(/img/cursor.png), auto;
        }
        @media(max-width:999px){
            font-size:20px; 
        }
    }
@keyframes estadisticas{
    0%{
      color:black;
    }
    25%{
        color:#31adde;
    }
    50%{
        color:#5263de;
    }
    75%{
        color:#1B998B;
    }
    100%{
        color: #FF9B71;
    }
}